<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carrot.kuder.group.KuderGroupMapper">

    <!-- KuderUserMapper.insertGroup : 그룹등록 -->
	<insert id="insertGroup" parameterType="com.carrot.kuder.group.KuderGroupVO">
		/* KuderUserMapper.insertGroup : 그룹등록 */
		INSERT INTO kuder_bb_group (
			bb_group_name
			, idx_kuder_company
			, idx_hq
			, idx_kuder_admin
			, regist_date
		) VALUES (
			#{bbGroupName}
			, #{idxKuderCompany}
			, #{idxHq}
			, #{idxKuderAdmin}
			, DATE_FORMAT(NOW(), '%y-%m-%d %T')
		)
		<selectKey keyProperty="idx" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- KuderUserMapper.insertCompany : 회사등록 -->
	<insert id ="insertCompany" parameterType="com.carrot.kuder.group.KuderCompanyVO">
		/* KuderUserMapper.insertCompany : 회사등록 */
		INSERT INTO kuder_company (
			company_name
			, company_address
			, company_site
			, create_date
		) VALUES (
			#{companyName}
			, #{companyAddress}
			, #{companySite}
			, DATE_FORMAT(NOW(), '%y-%m-%d %T')
		)
		<selectKey keyProperty="idx" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- 회사 정보 -->
	<select id="selectCompany" parameterType="String" resultType="com.carrot.kuder.group.KuderCompanyVO">
		/* KuderUserMapper.selectCompany : 회사등록 */
		SELECT
			idx
			, company_name
			, company_address
			, company_site
		FROM
			kuder_company
		WHERE
			company_name = #{companyName}	
	</select>
	
</mapper>