<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carrot.kuder.group.KuderGroupMapper">

	<resultMap id="KuderUserMap" type="com.carrot.kuder.user.KuderUserVO">
    	<result property="userId" jdbcType="INTEGER" column="user_id"/>
        <result property="userEmail" jdbcType="VARCHAR" column="user_email" />
        <result property="userPassword" jdbcType="VARCHAR" column="usre_password"/>
        <result property="userName" jdbcType="VARCHAR" column="user_name"/>
        <result property="userPhone" jdbcType="VARCHAR" column="user_phone"/>
        <result property="registDate" jdbcType="DATE" column="regist_date"/>
        <result property="updateDate" jdbcType="DATE" column="update_date"/>
        <result property="authorityCode" jdbcType="VARCHAR" column="authority_code"/>
    </resultMap>
    
    <!-- KuderUserMapper.insertGroup : 그룹등록 -->
	<insert id="insertGroup" parameterType="com.carrot.kuder.group.KuderGroupVO">
		<selectKey keyProperty="bbGroupCode" resultType="int" order="AFTER">
			SELECT bb_group_code FROM kuder_bb_group
		</selectKey>
		/* KuderUserMapper.insertGroup : 그룹등록 */
		INSERT INTO kuder_bb_group (
			bb_group_name
			, company_name
			, company_address
			, company_site
			, b_manager_name
			, c_manager_email
			, regist_date
		) VALUES (
			#{bbGroupName}
			, #{companyName}
			, #{companyAddress}
			, #{companySite}
			, #{bManagerName}
			, #{cManagerEmail}
			, DATE_FORMAT(NOW(), '%y-%m-%d %T')
		)
	
	</insert>
	
	<!-- KuderUserMapper.insertCompany : 회사등록 -->
	<insert id ="insertCompany" parameterType="com.carrot.kuder.group.KuderCompanyVO">
		/* KuderUserMapper.insertCompany : 회사등록 */
		INSERT INTO kuder_company (
			company_name
		) VALUES (
			#{companyName}
		)
	</insert>
	
</mapper>